.social-media-div {
    text-align:center;
}

.social-media-icon {
    display:inline-block;
    margin:15px 10px;
    padding:2px;
    text-decoration: none;
    width: 30px;
}

.linkedin-social-media-icon {
    display:inline-block;
    margin:15px 10px;
    padding:2px;
    text-decoration: none;
    width: 33px;
}